{% extends 'home.html' %}
{% block content %}
 <div class="container mt-4">
        <a href="{% url 'article_create' %}" class="btn btn-primary mb-3">Adicionar um Artigo</a>
        <ul class="list-group">
            {% for article in articles %}
                <li class="list-group-item">
                    <a href="{% url 'article_detail' pk=article.pk %}">{{ article.title }}</a>
                </li>
            {% empty %}
                <li class="list-group-item">Nenhum artigo encontrado.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}