{% extends 'home.html' %}
{% block content %}
    <div class="container mt-4">
        <h1>{{ article.title }}</h1>
        <p><strong>Autores:</strong> {{ article.authors }}</p>
        <p><strong>Resumo:</strong> {{ article.abstract }}</p>
        <p><strong>Palavras-chave:</strong> {{ article.keywords }}</p>
        <p><strong>Data:</strong> {{ article.date }}</p>
        <p><strong>Revista:</strong> {{ article.journal }}</p>
        <p><strong>Arquivo PDF:</strong> <a href="{{ article.pdf_file.url }}">Baixar</a></p>

        <a href="{% url 'article_update' pk=article.pk %}" class="btn btn-primary">Editar</a>
        <a href="{% url 'article_delete' pk=article.pk %}" class="btn btn-danger">Excluir</a>
        <a href="{% url 'article_list' %}" class="btn btn-secondary">Voltar</a>
    </div>
{% endblock %}

